<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <header role="banner">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand -->
        <a class="navbar-brand" href="/">Demo</a>
        <%= link_to "New Article", new_article_path , class: "navbar-brand", id:"new-article-btn"%>

    </nav>
  </header>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <% flash.each do |key,message| %>
            <div class="text-center alert alert-<%= key == 'notice'? 'sucess': 'danger' %>">
              <%=message%>
            </div>    
          <%end%>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
